<h1>{{title}}</h1>

{{#if categories.length}}
<div class="container">
    <div class="row justify-content-around">
        {{#each categories}}
        <div class="category col-3">
            <h3>{{name}}</h3>
            <a href="/api/category/del/{{_id}}">Delete</a>
            <a href="/api/category/edit/{{_id}}">Edit</a>
            {{!-- <a href="/api/courses/find/{{_id}}"> --}}<img src="/img/{{img}}" alt="{{img}}">{{!-- </a> --}}
        </div>`
        {{/each}}
    </div>
</div>
{{else}}
<h2>Categories are empty</h2>
{{/if}}

<a href="/api/category/add">Add new category</a>